{% extends 'base.html' %}

{% block content %}

<div class='row'> <!--text-center-->
	<div class='col'>
		<h2>Welcome to this bad twitter clone</h2>
	</div
</div>

<div class='row' id='tweets'>
    Error!
</div>

<script>
    const tweetsElement = document.getElementById("tweets") // getting html element
    tweetsElement.innerHTML = 'Loading...' // setting html in element 

    const xhr = new XMLHttpRequest() // new instance of a class
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json"

	function handleDidLike(tweet_id, currentCount) {
		console.log(tweet_id, currentCount)
		return
	}

	function likeBtn(tweet) {
		return "<button class='bg-button btn btn-primary btn-sm' onclick=handleDidLike(" +
			tweet.id + "," + tweet.likes +")>" + tweet.likes +" Likes</button>"
	}

	function formatTweetElement(tweet) {
		var formattedTweet = "<div class='col-12 border border-info rounded py-3 mb-4 tweet' id='tweet-"+ tweet.id 
			+"'><p>" + tweet.content + 
			"</p><div class ='btn-group'>" + likeBtn(tweet) +
			"</div></div>"
		return formattedTweet
	}
	
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response // array
        var finalTweetStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
			var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
        }
		console.log(finalTweetStr)
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>
{% endblock content %}